@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.header-principal{
    width: 98.7vw;
    height: 108px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 6px black;
    position: sticky;
    top: 0px;
}

.container-header-principal{
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.imagem-header{
    display: flex;
    align-items: center;
    width: 250px;
    height: 108px;
}

.botao-header{
    display: flex;
    align-items: center;
    width: 25vw;
    height: 108px;
    background-color: blue;
    padding-right: 30px;
    box-shadow: 0px 0px 4px black;
   
}

.botao-header:hover{
    background-color: rgb(61, 61, 252);
    transition: 1s;
}

.nome-botao {
    margin-left: 30px;
}

.nome-botao > a{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.img-seta-botao > img{
    width: 35px;
    height: 30px;
    margin: 0px 15px 0px 15px;
}

.img-seta-botao > img:hover{
    width: 40px;
    height: 35px;
    margin: 0px 15px 0px 15px;
    transition: 1s;
}

.titulo-geral-pagina{
    background-color: rgb(10,30,50);
    width: 98.7vw;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;  
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.titulo-geral-pagina > h1 {

    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.decoracao-box-artigo{
    height: 20px;
    background-color: blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sec-um,.sec-dois,.sec-tres, .sec-quatro{
    background-color: white;
    width: 70%;
    height: auto;
    margin-top: 60px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.671);
    border-radius: 10px;
}




.header-artigo{
    margin: 25px 30px 0px 30px;
    font-family: 'JetBrains Mono', monospace;
    color: blue;
    text-shadow: 0px 0px 1px black;
}

.autor-post{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 8px 0px 10px 20px;
}

.autor-post > img{
    border-radius: 50%;
    width: 40px;
    height: 40px;  
}

.autor-post > span{
    margin-left: 12px;

}

.leitura-cor-artigo{
    color: gray;
}

article > img{
    width: 100%;
    height: 250px;
}

article > p {
    margin: 15px 23px 15px 23px;
    font-size: 1.2em;
    font-weight: 500;
    text-indent: 15px;
    text-align: justify;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
}

.enfase{
    color: blue;
}

.botao-post{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 40px;
    width: 150px;
    margin: 30px 0px 25px 70px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px black;
}

.botao-post:hover{
    background-color: rgb(72, 72, 255);
}

.botao-post > a{
    
   color: white;
   font-size: 17px;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
}

footer{
    background-color: rgb(0, 0, 0);
    width: 98.8vw;
    margin-top: 80px;
}

.cabecalho-form{
    margin: 30px 0px 0px 45px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho-form > h1{
    margin-bottom: 18px;
}

.cabecalho-form > p {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 17px;
}

form{
    margin: 0px 0px 50px 60px;
}

label{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

input{
    width: 400px;
    height: 15px;
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
}

button{
    margin-left: 15px;
    width: 150px;
    height: 35px;
    background-color: blue;
    color: white;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(61, 61, 255);
    ;
    
}






